<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, id: :company_name %>
</div>

<div class="field">
  <%= f.label :country %>
  <%= f.text_field :country, id: :company_country %>
</div>

<div class="field">
  <%= f.label :state %>
  <%= f.text_field :state, id: :company_state %>
</div>

<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city, id: :company_city %>
</div>

<div class="field">
  <%= f.label :street %>
  <%= f.text_field :street, id: :company_street %>
</div>

<div class="field">
  <%= f.label :building %>
  <%= f.text_field :building, id: :company_building %>
</div>

<div class="field">
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code, id: :company_zip_code %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email, id: :company_email %>
</div>

<div class="field">
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, id: :company_phone_number %>
</div>

<div class="field">
  <%= f.label :website %>
  <%= f.text_field :website, id: :company_website %>
</div>

<div class="field">
  <%= f.label :logo %>
  <%= f.file_field :logo, direct_upload: true %>
</div>
