
<!-- Titlebar
================================================== -->
<div id="titlebar" class="submit-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2><i class="fa fa-plus-circle"></i>Company Details</h2>
			</div>
		</div>
	</div>
</div>

<!-- Content
================================================== -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="col-md-8">

    <%= form_for @classified_listing, url: wizard_path, method: :put do |form| %>
      <% ListingPlan.all.each do |plan| %>
          <%= form.radio_button :listing_plan_id, plan.id %>
          <%= plan.name %>
      <% end %>

      <%= form.submit 'Continue' %>
			<%= link_to 'Back', previous_wizard_path %>
    <% end %>

    </div>
  </div>
</div>
