

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>My Profile</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>My Profile</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">


		<!-- Widget -->
		<div class="col-md-4">
			<%= render "shared/sidebar" %>
		</div>

		<div class="col-md-8">
			<div class="row">


				<div class="col-md-8 my-profile">
					<h4 class="margin-top-0 margin-bottom-30">My Account</h4>
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      		<h4>Personal Details</h4>
         
      		<div class="submit-section">

      			<!-- Row -->
      			<div class="row with-forms">

      				<!-- First Name -->
      				<div class="col-md-6">
      					<h5>First Name</h5>
                 <%= f.text_field :first_name, autofocus: true %>
      				</div>

      				<!-- Last Name -->
      				<div class="col-md-6">
      					<h5>Last Name</h5>
                <%= f.text_field :last_name, autofocus: true %>
      				</div>

      				

      			</div>
      			<!-- Row / End -->
            
      			<div class="row with-forms">

      				<!-- Status -->
      				<div class="col-md-12">
      					<h5>Year of Birth</h5>
                <%= f.select :year_of_birth, (Time.zone.now.year - 80)..(Time.zone.now.year + 1), {}, {class: "chosen-select-no-single"} %>		
      				</div>

      			</div>

      		</div>
      		<!-- Section -->
      		<h4>Address</h4>
      		<div class="submit-section">

      			<!-- Row -->
      			<div class="row with-forms">

      				<!-- Address -->
      				<div class="col-md-6">
      					<h5>Country</h5>
                <%= f.country_select :country, { include_blank: 'Select Your Country' }, {class: "chosen-select-no-single" } %>
      				</div>


      				<!-- City -->
      				<div class="col-md-6">
      					<h5>City</h5>
                 <%= f.text_field :city, autofocus: true %>
      				</div>

      				<!-- City -->
      				<div class="col-md-6">
      					<h5>State</h5>
                 <%= f.text_field :state, autofocus: true %>
      				</div>

      				<!-- Zip-Code -->
      				<div class="col-md-6">
      					<h5>Zip-Code</h5>
                 <%= f.text_field :zipcode, autofocus: true %>
      				</div>

      			</div>
      			<!-- Row / End -->

</div>      		<!-- Section / End -->
      		<!-- Section -->
      		<h4>Household Details</h4>
      		<div class="submit-section">

      			<!-- Row -->
      			<div class="row with-forms">

      				<!-- Scenario -->
      				<div class="col-md-12">
      					<h5>Which scenario describes your household?</h5>
      					<%= f.text_field :scenario, autofocus: true %>
      				</div>

      				<!-- Income -->
      				<div class="col-md-12">
      					<h5>What's your combined household income?</h5>
      					<%= f.number_field :zipcode, autofocus: true %>
      				</div>      	
      			</div>
      			<!-- Row / End -->

      		</div>
      		<!-- Section / End -->
      		<!-- Section -->
      		<h4>Where do you want to move?</h4>
      		<div class="submit-section">

      			<!-- Row -->
      			<div class="row with-forms">

      				<!-- Country -->
      				<div class="col-md-12">
      					<h5>Country</h5>
                <%= f.country_select :country, { include_blank: 'Select Country To Move' }, {class: "chosen-select-no-single" } %>
      				</div>

      				<!-- Country -->
      				<div class="col-md-12">
      					<h5>Country</h5>
                <%= f.country_select :country, { include_blank: 'Select Country To Move' }, {class: "chosen-select-no-single" } %>
      				</div>

      				<!-- Country -->
      				<div class="col-md-12">
      					<h5>Country</h5>
                <%= f.country_select :country, { include_blank: 'Select Country To Move' }, {class: "chosen-select-no-single" } %>
              </div>

      			</div>
      			<!-- Row / End -->

      		</div>
      		<!-- Section / End -->

          <%= f.submit "Save Changes", class: "button margin-bottom-20" %>
          <% end %>
				</div>

				<div class="col-md-4">
					<!-- Avatar -->
					<div class="edit-profile-photo">
            <%= image_tag "agent-02.jpg" %>
						<div class="change-photo-btn">
							<div class="photoUpload">
							    <span><i class="fa fa-upload"></i> Upload Photo</span>
							    <input type="file" class="upload" />
							</div>
						</div>
					</div>

				</div>


			</div>
		</div>

	</div>
</div>
