<div class="form-group">
        <%= form.label(:title) %>
        <%= form.text_field :title, class: "form-control", placeholder: "Enter list title"  %>
        
    </div>
    

    
    <div class="form-group">
        <%= form.label(:price) %>
        <%= form.text_field :price, class: "form-control", placeholder: "Price", type: 'number'  %>
        
    </div>

    <div class="form-group">
        <%= form.label(:time_length) %>
        <%= form.text_field :time_length, class: "form-control", placeholder: "Time length"  %>
        
    </div>