<div class="search-bar">
  <%= form_with(url: properties_path, class: "form", local: true, method: :get) do |f| %>
    <%= f.select(:country) do %>
      <% CS.countries.each do |code, country| %>
        <%= content_tag(:option, country, value: code) %>
      <% end %>
    <% end %>
    <%= f.text_field :near, placeholder: "Search by region, city or address", size: 50 %>
    <%= f.submit "Search" %>
  <% end %>
</div>
