<!-- Titlebar
================================================== -->
<div id="titlebar" class="submit-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2><i class="fa fa-plus-circle"></i> Update Property</h2>
			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
<div class="row">

	<!-- Submit Page -->
  <%= form_for @property do |f| %>
	<div class="col-md-12">
		<div class="submit-page">

		<!-- Section -->
		<h3>Basic Information</h3>
		<div class="submit-section">

			<!-- Title -->
			<div class="form">

				<h5>Property Title <i class="tip" data-tip-content="Type title that will also contains an unique feature of your property (e.g. renovated, air contidioned)"></i></h5>
         <%= f.text_field :name, class: "search-field" %>
			</div>

			<!-- Row -->
			<div class="row with-forms">

				<!-- Status -->
				<div class="col-md-6">
					<h5>Status</h5>
          <%= f.select :availability, Property.availabilities.keys.to_a, {}, {class: "chosen-select-no-single"} %>
				</div>

				<!-- Type -->
				<div class="col-md-6">
					<h5>Type</h5>
          <%= f.select :type, Property.types.keys.to_a, {}, {class: "chosen-select-no-single"} %>
				</div>

			</div>
			<!-- Row / End -->


			<!-- Row -->
			<div class="row with-forms">

				<!-- Price -->
				<div class="col-md-4">
					<h5>Price <i class="tip" data-tip-content="Type overall or monthly price if property is for rent"></i></h5>
					<div class="select-input disabled-first-option">
            <%= f.number_field :price, data: {unit: "USD"} %>
					</div>
				</div>

				<!-- Area -->
				<div class="col-md-4">
					<h5>Area</h5>
					<div class="select-input disabled-first-option">
            <%= f.number_field :area, data: {unit: "Sq Ft"} %>
					</div>
				</div>

				<!-- Rooms -->
				<div class="col-md-4">
					<h5>Rooms</h5>
          <%= f.number_field :bedrooms %>
				</div>

			</div>
			<!-- Row / End -->

		</div>
		<!-- Section / End -->


		<!-- Section -->
		<h3>Gallery</h3>
		<div class="submit-section">
			<form action="/file-upload" class="dropzone" ></form>
		</div>
		<!-- Section / End -->


		<!-- Section -->
		<h3>Location</h3>
		<div class="submit-section">

			<!-- Row -->
			<div class="row with-forms">

				<!-- Address -->
				<div class="col-md-12">
					<h5>Address</h5>
           <%= f.text_field :address %>
				</div>

				<div class="col-md-6">
          <%= f.label :country %>
          <select name="agency[country]" data-placeholder="Select Country" class="chosen-select", id="country" >
            <option value="">Select Country</option>
              <%= options_for_select(
                CS.countries.invert
              ) %>
          </select>
        </div>

        <div class="col-md-6">
          <%= f.label :state %>
          <select name="agency[state]" data-placeholder="All States" class="chosen-select", id="state" >
            <option value="">All States</option>

          </select>
        </div>

        <div class="col-md-6">
          <%= f.label :city %>
          <select name="agency[city]" data-placeholder="All Cities" class="chosen-select" id="city" >
            <option value="">All Cities</option>

          </select>
        </div>

				<!-- Zip-Code -->
				<div class="col-md-6">
					<%= f.label :zip, 'Zip-Code' %>
           <%= f.text_field :zip, class: "search-field" %>
				</div>

			</div>
			<!-- Row / End -->

		</div>
		<!-- Section / End -->


		<!-- Section -->
		<h3>Detailed Information</h3>
		<div class="submit-section">

			<!-- Description -->
			<div class="form">
				<h5>Description</h5>
         <%= f.text_area :description, class: "WYSIWYG", name: "summary", cols: "40", rows: "3", id: "summary", spellcheck: "true" %>
			</div>

			<!-- Row -->
			<div class="row with-forms">

				<!-- Age of Home -->
				<div class="col-md-6">
					<h5>Building Age <span>(optional)</span></h5>
          <%= f.number_field :building_age %>

				</div>


				<!-- Baths -->
				<div class="col-md-6">
					<h5>Bathrooms <span>(optional)</span></h5>
          <%= f.number_field :bathrooms %>
				</div>
        

			</div>
			<div class="row with-forms">

				<!-- Age of Home -->
				<div class="col-md-6">
					<h5>Car Spaces</h5>
          <%= f.number_field :parking %>

				</div>


			</div>
			<!-- Row / End -->


			<!-- Checkboxes -->
			<h5 class="margin-top-30">Other Features <span>(optional)</span></h5>
			<div class="checkboxes in-row margin-bottom-20">

				<input id="check-2" type="checkbox" name="check">
				<label for="check-2">Air Conditioning</label>

				<input id="check-3" type="checkbox" name="check">
				<label for="check-3">Swimming Pool</label>

				<input id="check-4" type="checkbox" name="check" >
				<label for="check-4">Central Heating</label>

				<input id="check-5" type="checkbox" name="check">
				<label for="check-5">Laundry Room</label>


				<input id="check-6" type="checkbox" name="check">
				<label for="check-6">Gym</label>

				<input id="check-7" type="checkbox" name="check">
				<label for="check-7">Alarm</label>

				<input id="check-8" type="checkbox" name="check">
				<label for="check-8">Window Covering</label>

			</div>
			<!-- Checkboxes / End -->

		</div>
		<!-- Section / End -->



		<div class="divider"></div>
    <%= f.submit "Submit", class: "button preview margin-top-5" %>
		</div>
	</div>
  <% end %>

</div>
</div>
