<!-- Titlebar
================================================== -->
<div id="titlebar" class="property-titlebar margin-bottom-0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= link_to :back, class: "back-to-listings" do %>
        <% end %>
				<div class="property-title">
					<h2><%= @property.name %> <span class="property-badge"><%= @property.availability %></span></h2>
					<span>
						<a href="#location" class="listing-address">
							<i class="fa fa-map-marker"></i>
							<%= @property.address %>
						</a>
					</span>
				</div>

				<div class="property-pricing">
					<div class="property-price">$<%= @property.price %></div>
					<div class="sub-price">$<%= (@property.price / @property.area).round(2) %> / sq ft</div>
				</div>


			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Slider -->
<div class="fullwidth-property-slider margin-bottom-50">
  <%= image_tag "single-property-01.jpg", class: "item mfp-gallery" %>
  <%= image_tag "single-property-03.jpg", class: "item mfp-gallery" %>
  <%= image_tag "single-property-04.jpg", class: "item mfp-gallery" %>
  <%= image_tag "single-property-05.jpg", class: "item mfp-gallery" %>
  <%= image_tag "single-property-06.jpg", class: "item mfp-gallery" %>
</div>


<div class="container">
	<div class="row">

		<!-- Property Description -->
		<div class="col-lg-8 col-md-7">
			<div class="property-description">

				<!-- Main Features -->
				<ul class="property-main-features">
					<li>Bedrooms <span><%= @property.bedrooms %></span></li>
					<li>Bathrooms <span><%= @property.bathrooms %></span></li>
          <li>Parkings <span><%= @property.parking %></span></li>
				</ul>


				<!-- Description -->
				<h3 class="desc-headline">Description</h3>
				<div class="show-more">
					<p>
						<%= @property.description %>
					</p>

					<a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a>
				</div>

				<!-- Details -->
				<h3 class="desc-headline">Details</h3>
				<ul class="property-features margin-top-0">
					<li>Building Age: <span>2 Years</span></li>
					<li>Parking: <span>Attached Garage</span></li>
					<li>Cooling: <span>Central Cooling</span></li>
					<li>Heating: <span>Forced Air, Gas</span></li>
					<li>Sewer: <span>Public/City</span></li>
					<li>Water: <span>City</span></li>
					<li>Exercise Room: <span>Yes</span></li>
					<li>Storage Room: <span>Yes</span></li>
				</ul>


				<!-- Features -->
				<h3 class="desc-headline">Features</h3>
				<ul class="property-features checkboxes margin-top-0">
					<li>Air Conditioning</li>
					<li>Swimming Pool</li>
					<li>Central Heating</li>
					<li>Laundry Room</li>
					<li>Gym</li>
					<li>Alarm</li>
					<li>Window Covering</li>
					<li>Internet</li>
				</ul>

				
				<!-- Floorplans -->


				<!-- Video -->

				<!-- Location -->
        <!--
				<h3 class="desc-headline no-border" id="location">Location</h3>
				<div id="propertyMap-container">
					<div id="propertyMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
					<a href="#" id="streetView">Street View</a>
				</div>
          -->

			</div>
		</div>
		<!-- Property Description / End -->


		<!-- Sidebar -->
		<div class="col-lg-4 col-md-5">
			<div class="sidebar sticky right">

				<!-- Widget -->
				<div class="widget margin-bottom-30">
          <%= link_to property_path(@property), :onclick => 'window.print();return false;' do %>
					<button class="widget-button with-tip" data-tip-content="Print"><i class="sl sl-icon-printer"></i></button>
          <% end %>
           <%= favourite_link(@property) %>
					<div class="clearfix"></div>
				</div>
				<!-- Widget / End -->


				<!-- Widget -->
				<div class="widget">

					<!-- Agent Widget -->
         <% unless @property.agent.nil? %>
					<div class="agent-widget">
						<div class="agent-title">
							<div class="agent-photo"><%= image_tag "agent-avatar.jpg" %></div>
							<div class="agent-details">
								<h4><%= link_to @property.agent.name, agent_path(@property.agent) %></h4>
								<span><i class="sl sl-icon-call-in"></i><%= @property.agent.phone_number%></span>
							</div>
							<div class="clearfix"></div>
						</div>

						<input type="text" placeholder="Your Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
						<input type="text" placeholder="Your Phone">
						<textarea>I'm interested in this property [ID 123456] and I'd like to know more details.</textarea>
						<button class="button fullwidth margin-top-5">Send Message</button>
					</div>
          <% end %>
					<!-- Agent Widget / End -->

				</div>
				<!-- Widget / End -->


				<!-- Widget -->
				<!-- Widget / End -->

				
				<!-- Widget -->
				<div class="widget">
					<h3 class="margin-bottom-35">Featured Properties</h3>

					<div class="listing-carousel outer">
						<!-- Item -->
						<div class="item">
							<div class="listing-item compact">

								<a href="#" class="listing-img-container">

									<div class="listing-badges">
										<span class="featured">Featured</span>
										<span>For Sale</span>
									</div>

									<div class="listing-img-content">
										<span class="listing-compact-title">Eagle Apartments <i>$275,000</i></span>

										<ul class="listing-hidden-content">
											<li>Area <span>530 sq ft</span></li>
											<li>Rooms <span>3</span></li>
											<li>Beds <span>1</span></li>
											<li>Baths <span>1</span></li>
										</ul>
									</div>
                  <%= image_tag "listing-01.jpg" %>
								</a>

							</div>
						</div>
						<!-- Item / End -->

						<!-- Item -->
						<div class="item">
							<div class="listing-item compact">

								<a href="#" class="listing-img-container">

									<div class="listing-badges">
										<span class="featured">Featured</span>
										<span>For Sale</span>
									</div>

									<div class="listing-img-content">
										<span class="listing-compact-title">Selway Apartments <i>$245,000</i></span>

										<ul class="listing-hidden-content">
											<li>Area <span>530 sq ft</span></li>
											<li>Rooms <span>3</span></li>
											<li>Beds <span>1</span></li>
											<li>Baths <span>1</span></li>
										</ul>
									</div>
                  <%= image_tag "listing-02.jpg" %>
								</a>

							</div>
						</div>
						<!-- Item / End -->

						<!-- Item -->
						<div class="item">
							<div class="listing-item compact">

								<a href="#" class="listing-img-container">

									<div class="listing-badges">
										<span class="featured">Featured</span>
										<span>For Sale</span>
									</div>

									<div class="listing-img-content">
										<span class="listing-compact-title">Oak Tree Villas <i>$325,000</i></span>

										<ul class="listing-hidden-content">
											<li>Area <span>530 sq ft</span></li>
											<li>Rooms <span>3</span></li>
											<li>Beds <span>1</span></li>
											<li>Baths <span>1</span></li>
										</ul>
									</div>
                  <%= image_tag "listing-03.jpg" %>
								</a>

							</div>
						</div>
						<!-- Item / End -->
					</div>

				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->

	</div>
</div>