<section class="road-map">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4>Popular Countries</h4>
        <ul class="list-group">
          <li class="list-group-item"><%= link_to "United States", "" %></li>
          <li class="list-group-item"><%= link_to "China", "" %></li>
          <li class="list-group-item"><%= link_to "United Kingdom", "" %></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Popular Regions</h4>
        <ul class="list-group">
          <li class="list-group-item"><%= link_to "United States", "" %></li>
          <li class="list-group-item"><%= link_to "China", "" %></li>
          <li class="list-group-item"><%= link_to "Fance", "" %></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Popular Cities</h4>
      </div>
      <div class="col-sm-3">
        <h4>Property Types</h4>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <nav class="navbar">
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "About Us", "" %></li>
        <li><%= link_to "Adverties", "" %></li>
        <li><%= link_to "Terms and service", "" %></li>
        <li><%= link_to "Policy", "" %></li>
        <li><%= link_to "Contact Us", "" %></li>
      </ul>
      <ul class="nav navbar-nav socials navbar-right">
        <li><a><i class='fa fa-facebook-f'></i></a></li>
        <li><a><i class='fa fa-twitter'></i></a></li>
        <li><a><i class='fa fa-instagram'></i></a></li>
        <li><a><i class='fa fa-youtube'></i></a></li>
      </ul>
    </div>
  </nav>
</footer>
