<header id="header-container">
  <!-- Header -->
  <div id="header">
    <div class="container">

      <!-- Left Side Content -->
      <div class="left-side">

        <!-- Logo -->
        <div id="logo">
          <a href="<%= root_path %>"><img src="assets/logo.png" alt=""></a>
        </div>

        <!-- Mobile Navigation -->
        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>


        <!-- Main Navigation -->
        <nav id="navigation" class="style-1">
          <ul id="responsive">
            <li><a class="current" href="#">Buy</a></li>
            <li><a href="#">Rent</a></li>
            <li><a href="#">New homes</a></li>
            <li><a href="#">Sold</a></li>
            <li><a href="#">News & advice</a></li>
            <li><a href="#">Classifieds</a></li>
          </ul>
        </nav>
        <div class="clearfix"></div>
        <!-- Main Navigation / End -->

      </div>
      <!-- Left Side Content / End -->

      <!-- Right Side Content / End -->
      <div class="right-side">
        <nav id="navigation" class="style-1">
          <ul id="responsive">
            <% if !user_signed_in? %>
              <li><%= link_to "Login", new_user_session_path, class: "black" %></li>
              <li class="separator">/</li>
              <li><%= link_to "Sign Up", new_user_registration_path, class: "black" %></li>
            <% else %>
              <li>
                <%= link_to "List my property", new_room_path, style: "text-decoration: none;" %>
              </li>
              <li>
                <%= link_to notifications_path do %>
                  <i class="fa fa-bell fa-2x icon-babu"></i>
                  <span class="badge" id="navbar_num_of_unread"><%= current_user.unread if current_user.unread > 0 %></span>
                <% end %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>&nbsp;
                  <%= current_user.fullname %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Dashboard", dashboard_path %></li>
                  <li><%= link_to "Manage Listings", rooms_path %></li>
                  <li><%= link_to "List Your Space", new_room_path %></li>
                  <li><%= link_to "Your Reservations", your_reservations_path %></li>
                  <li><%= link_to "Your Trips", your_trips_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </nav>
        <!-- Header Widget -->

        <!-- Header Widget / End -->
      </div>
      <!-- Right Side Content / End -->

    </div>
  </div>
  <!-- Header / End -->

</header>
