<%= search_form_for @search, url: search_path, class: "main-search-form" do |f| %>
  <%= f.hidden_field :is_rent_eq %>

  <div class="search-type">
    <label class="<%= params[:q].blank? ? 'active' : '' %>"><input id="tab-all" class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
    <label class="<%= (params[:q] && params[:q][:is_rent_eq] == 'false') ? 'active' : '' %>"><input id="tab-buy" name="tab" type="radio">For Sale</label>
    <label class="<%= (params[:q] && params[:q][:is_rent_eq] == 'true') ? 'active' : '' %>"><input id="tab-rent" name="tab" type="radio">For Rent</label>
    <div class="search-type-arrow"></div>
  </div>

  <!-- Box -->
  <div class="main-search-box">

    <!-- Main Search Input -->
    <div class="main-search-input larger-input">
      <%= text_field_tag :search, params[:search], placeholder: "Search by state, suburb or postcode", class: "ico-01", id: "autolocation" %>
      <button class="button">Search</button>
    </div>

    <!-- Row -->
    <div class="row with-forms">
      <!-- Property Type -->
      <div class="col-md-4">
        <%= f.select :accommodate_gteq, Room::ACCOMADATION_TYPES.map{|k, v| [v, k]}, { id: "accommodate_gteq", prompt: "All property types" }, { class: "chosen-select-no-single" } %>
      </div>


      <!-- Min Price -->
      <div class="col-md-4">

        <!-- Select Input -->
        <div class="select-input">
          <%= f.text_field :price_gteq, placeholder: "Min Price", "data-unit"=>"USD" %>
        </div>
        <!-- Select Input / End -->

      </div>


      <!-- Max Price -->
      <div class="col-md-4">

        <!-- Select Input -->
        <div class="select-input">
          <%= f.text_field :price_lteq, placeholder: "Max Price", "data-unit"=>"USD" %>
        </div>
        <!-- Select Input / End -->

      </div>

    </div>
    <!-- Row / End -->


    <!-- More Search Options -->
    <a href="#" class="more-search-options-trigger" data-open-title="More Options" data-close-title="Less Options"></a>

    <div class="more-search-options">
      <div class="more-search-options-container">

        <!-- Row -->
        <div class="row with-forms">

          <!-- Min Price -->
          <div class="col-md-6">

            <!-- Select Input -->
            <div class="select-input">
              <input type="text" placeholder="Min Area" data-unit="Sq Ft">
            </div>
            <!-- Select Input / End -->

          </div>

          <!-- Max Price -->
          <div class="col-md-6">

            <!-- Select Input -->
            <div class="select-input">
              <input type="text" placeholder="Max Area" data-unit="Sq Ft">
            </div>
            <!-- Select Input / End -->

          </div>

        </div>
        <!-- Row / End -->


        <!-- Row -->
        <div class="row with-forms">

          <!-- Min Area -->
          <div class="col-md-6">
            <%= f.select :bed_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], { id: "bed_room", prompt: "Beds" }, { class: "chosen-select-no-single" } %>
          </div>

          <!-- Max Area -->
          <div class="col-md-6">
            <%= f.select :bath_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], { id: "bath_room", prompt: "Baths" }, { class: "chosen-select-no-single" } %>
          </div>

        </div>
        <!-- Row / End -->


        <!-- Checkboxes -->
        <div class="checkboxes in-row">

          <input id="check-1" type="checkbox" name="q[is_tv_eq]" value="true">
          <label for="check-1">TV</label>

          <input id="check-2" type="checkbox" name="q[is_air_eq]" value="true">
          <label for="check-2">Air Conditioning</label>

          <input id="check-3" type="checkbox" name="q[is_kitchen_eq]" value="true">
          <label for="check-3">Kitchen</label>

          <input id="check-4" type="checkbox" name="q[is_internet_eq]" value="true">
          <label for="check-4">Internet</label>

          <input id="check-5" type="checkbox" name="q[is_heating_eq]" value="true">
          <label for="check-5">Central Heating</label>

        </div>
        <!-- Checkboxes / End -->

      </div>
    </div>
    <!-- More Search Options / End -->


  </div>
<% end %>
