<!-- Widget -->
<%= form_with(url: properties_path, local: true, method: :get) do |f| %>
  <div class="widget margin-bottom-40">
  <h3 class="margin-top-0 margin-bottom-35">Find New Home</h3>

  <!-- Row -->
  <div class="row with-forms">
    <!-- Status -->
    <div class="col-md-12">
      <select name="tab" data-placeholder="Any Status" class="chosen-select-no-single" >
          <%= options_for_select(
            { 'Any Status' => :any,
              'For Sale' => :sale,
              'For Rent' => :rent
            }
          ) %>
      </select>
    </div>
  </div>
  <!-- Row / End -->


  <!-- Row -->
  <div class="row with-forms">
    <!-- Type -->
    <div class="col-md-12">
      <select name="type" data-placeholder="Any Type" class="chosen-select-no-single" >
        <%= options_for_select(
          { 'Any Type' => :any,
            'Apartments' => :apartment,
            'Houses' => :house,
            'Comercial' => :commercial,
            'Garages' => :garage,
            'Lots' => :lot,
          }
        ) %>
      </select>
    </div>
  </div>
  <!-- Row / End -->

  <!-- Row -->
  <div class="row with-forms">
    <!-- Country -->
    <div class="col-md-12">
      <select name="country" data-placeholder="Select Country" class="chosen-select", id="country" >
        <option value="">Select Country</option>
          <%= options_for_select(
            CS.countries.invert
          ) %>
      </select>
    </div>
  </div>
  <!-- Row / End -->

  <!-- Row -->
  <div class="row with-forms">
    <!-- States -->
    <div class="col-md-12">
      <select name="state" data-placeholder="All States" class="chosen-select", id="state" >
        <option value="">All States</option>

      </select>
    </div>
  </div>
  <!-- Row / End -->



  <!-- Row -->
  <div class="row with-forms">
    <!-- Cities -->
    <div class="col-md-12">
      <select name="city" data-placeholder="All Cities" class="chosen-select" id="city" >
        <option value="">All Cities</option>

      </select>
    </div>
  </div>
  <!-- Row / End -->


  <!-- Row -->
  <div class="row with-forms">

    <!-- Min Area -->
    <div class="col-md-6">
      <select name="bedrooms" data-placeholder="Beds" class="chosen-select-no-single" >
        <option label="blank"></option>
        <option label="blank"></option>
        <%= options_for_select(
          { 'Rooms (Any)' => :any,
            1 => 1,
            2 => 2,
            3 => 3,
            4 => 4,
            5 => 5
          }
        ) %>
      </select>
    </div>

    <!-- Max Area -->
    <div class="col-md-6">
      <select name="bathrooms" data-placeholder="Baths" class="chosen-select-no-single" >
        <option label="blank"></option>
        <option label="blank"></option>
        <%= options_for_select(
          { 'Baths (Any)' => :any,
            1 => 1,
            2 => 2,
            3 => 3,
            4 => 4,
            5 => 5
          }
        ) %>
      </select>
    </div>

  </div>
  <!-- Row / End -->

  <br>

  <!-- Area Range -->
  <!-- <div class="range-slider">
    <label>Area Range</label>
    <div id="area-range" data-min="0" data-max="1500" data-unit="sq ft"></div>
    <div class="clearfix"></div>
  </div>

  <br> -->

  <!-- Price Range -->
  <!-- <div class="range-slider">
    <label>Price Range</label>
    <div id="price-range" data-min="0" data-max="400000" data-unit="$"></div>
    <div class="clearfix"></div>
  </div> -->



  <!-- More Search Options -->
  <a href="#" class="more-search-options-trigger margin-bottom-10 margin-top-30" data-open-title="Additional Features" data-close-title="Additional Features"></a>

  <div class="more-search-options relative">

    <!-- Checkboxes -->
    <div class="checkboxes one-in-row margin-bottom-10">

      <input id="check-2" type="checkbox" name="check">
      <label for="check-2">Air Conditioning</label>

      <input id="check-3" type="checkbox" name="check">
      <label for="check-3">Swimming Pool</label>

      <input id="check-4" type="checkbox" name="check" >
      <label for="check-4">Central Heating</label>

      <input id="check-5" type="checkbox" name="check">
      <label for="check-5">Laundry Room</label>


      <input id="check-6" type="checkbox" name="check">
      <label for="check-6">Gym</label>

      <input id="check-7" type="checkbox" name="check">
      <label for="check-7">Alarm</label>

      <input id="check-8" type="checkbox" name="check">
      <label for="check-8">Window Covering</label>

    </div>
    <!-- Checkboxes / End -->

  </div>
  <!-- More Search Options / End -->

  <button class="button fullwidth margin-top-30">Search</button>


</div>
<% end %>
<!-- Widget / End -->
