<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Agents</h2>
				<span>List of Our Agents</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li>
              <%= link_to "Home", root_path %>
            </li>
						<li>Agents</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>



<!-- Content
================================================== -->
<div class="container">
	<div class="row">
    <div class="col-md-12">      
      <%= search_form_for @q do |f| %>
        <div class="col-md-3">
          <%= select_tag "sort_agent", options_for_select([ "Name (A to Z)", "Name (Z to A)", "Most Properties for sale", "Most properties for rent" ], params["sort_agent"]), onchange: 'this.form.submit();' %>
        </div>
        <div class="col-md-5">
          <%= f.search_field :name_or_city_or_state_or_country_cont, class: 'ico-01', placeholder: "Type an agent name or location" %>
        </div>
        <div class="col-md-2">
          <%= f.submit "Search", class: "button search-button" %>
        </div>
        <div class="col-md-2">
          <%= link_to "Reset Filters", "/agents", class: "button reset-filter-button" %>
        </div>
      <% end %>
		</div>


		<div class="col-md-12">
			<div class="row">

				<!-- Agents Container -->
				<div class="agents-grid-container">

          <% @agents.each do |agent| %>
            <!-- Agent -->
            <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="agent">

                <div class="agent-avatar">
                  <%= link_to agent_path(agent) do %>
                    <%= image_tag agent.photo %>
                    <span class="view-profile-btn">View Profile</span>
                  <% end %>
                </div>

                <div class="agent-content">
                  <div class="agent-name">
                    <h4>
                      <%= link_to agent.name, agent_path(agent) %>
                    </h4>
                    <span>Agent In <%= agent.city %></span>
                  </div>

                  <ul class="agent-contact-details">
                    <li>
                      <i class="sl sl-icon-call-in"></i>
                      <%= number_to_phone(agent.phone_number, area_code: true) %>
                    </li>
                    <li>
                      <%= mail_to agent.email do %>
                        <i class="fa fa-envelope-o "></i>
                        <%= agent.email %>
                      <% end %>
                    </li>
                  </ul>

									<!-- social_links -->
									<%= render partial: "shared/social_link", :collection => agent.social_links, :as => :social_link %>

                  <div class="clearfix"></div>
                </div>

              </div>
            </div>
            <!-- Agent / End -->
          <% end %>


				</div>
				<!-- Agents Container / End -->

			</div>
		</div>


		<div class="col-md-12">
			<div class="clearfix"></div>
			<%= paginate @agents %>
		</div>

	</div>
</div>
