<%= render 'dashboards/agency_dashboard' do %>
  <div class="row">
    <div class="container">
      <h3>Add an agent</h3>

      <%= form_for :agent, url: agents_path do |f| %>

        <div class="">
          <label>Email</label>
          <%= f.text_field :email %>
        </div>

        <div class="">
          <label>Name</label>
          <%= f.text_field :name %>
        </div>

        <div class="">
          <label>Photo</label>
          <%= f.file_field :photo %>
        </div>

        <div class="">
          <label>Cover Photo</label>
          <%= f.file_field :cover_photo %>
        </div>

        <div class="">
          <label>Title</label>
          <%= f.text_field :title %>
        </div>

        <div class="">
          <label>Phone Number</label>
          <%= f.text_field :phone_number %>
        </div>

        <div class="">
          <label>How many years of experience</label>
          <%= f.text_field :years_experience %>
        </div>

        <div class="">
          <label>Description</label>
          <%= f.text_area :description %>
        </div>

        <div class="">
          <label>Address</label>
          <%= f.text_field :address %>
        </div>

        <div class="">
          <%= f.label :country %>
          <select name="agency[country]" data-placeholder="Select Country" class="chosen-select", id="country" >
            <option value="">Select Country</option>
              <%= options_for_select(
                CS.countries.invert
              ) %>
          </select>
        </div>
        
        <div class="">
          <%= f.label :state %>
          <select name="agency[state]" data-placeholder="All States" class="chosen-select", id="state" >
            <option value="">All States</option>

          </select>
        </div>

        <div class="">
          <%= f.label :city %>
          <select name="agency[city]" data-placeholder="All Cities" class="chosen-select" id="city" >
            <option value="">All Cities</option>

          </select>
        </div>

        <div>
          <%= f.button :submit, class: "button margin-top-20" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
