<div class="row">
  <div class="search">
    <%= form_tag root_path, method: :get do %>
      <%= collection_select('country', 'locale', CS.countries, :first, :last) %>
      <%= text_field_tag :q, nil, placeholder: "Search by region, city or address", size: 50 %>
      <%= submit_tag "Search" %>
      <span class="dropdown">
        <span class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          More Options
          <span class="caret"></span>
        </span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <div>
              <h5>PRICE</h5>
              <%= text_field_tag 'price[min]', nil, placeholder: "Min", size: 5 %>
              <%= text_field_tag 'price[max]', nil, placeholder: "Min", size: 5 %>
            </div>
            <div>
              <h5>PROPERTY TYPE</h5>
              <%= property_types %>
            </div>
          </div>
        </span>
      <% end %>
  </div>
</div>

<div class="row">
<% @properties.each do |property| %>
  <%= property.name %>
  <%= property.type %>
  <%= property.availability %>
  <%= property.price %>
  <br>
<% end %>
</div>
