<!-- Banner
================================================== -->
<div class="parallax" data-background="<%= asset_url 'home-parallax.jpg' %>" data-color="#36383e" data-color-opacity="0.45" data-img-width="2500" data-img-height="1600">
	<div class="parallax-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Main Search Container -->
					<%= render "properties/search_main" %>
					<!-- Main Search Container / End -->

				</div>
			</div>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
		</div>

		<!-- Carousel -->
		<div class="col-md-12">
			<div class="carousel">

				<!-- Listing Item -->
        <% @new_properties.each do |p| %>
					<div class="carousel-item">
					<div class="listing-item">

						<a href="single-property-page-1.html" class="listing-img-container">

							<div class="listing-badges">
								<span><%= p.availability %></span>
							</div>

							<div class="listing-img-content">
								<span class="listing-price">$<%= p.price %> <i>$520 / sq ft</i></span>
								<span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
							</div>

							<div class="listing-carousel">
								<div>
                  <%= image_tag "listing-01.jpg" %>
                </div>
								<div>
									<%= image_tag "listing-01b.jpg" %>
								</div>
								<div>
									<%= image_tag "listing-01c.jpg" %>
								</div>
							</div>

						</a>

						<div class="listing-content">

							<div class="listing-title">
								<h4><%= link_to p.name, property_path(p)%></h4>
								<a href="https://maps.google.com/maps?q=#{p.address}" class="listing-address popup-gmaps">
									<i class="fa fa-map-marker"></i>
									<%= p.address %>
								</a>
							</div>

							<ul class="listing-features">
								<li>Area <span><%= p.area %> sq ft</span></li>
								<li>Bedrooms <span><%= p.bedrooms %></span></li>
								<li>Bathrooms <span><%= p.bathrooms %></span></li>
							</ul>

							<div class="listing-footer">
								<a href="#"><i class="fa fa-user"></i> <% unless p.agent.nil? %><%= p.agent.name %><% end %></a>
								<span><i class="fa fa-calendar-o"></i> <%= time_ago_in_words(p.created_at) %></span>
							</div>

						</div>

					</div>
				</div>
        <% end %>
				<!-- Listing Item / End -->



			</div>
		</div>
		<!-- Carousel / End -->

	</div>
</div>



<!-- Fullwidth Section -->

<!-- Fullwidth Section / End -->



<!-- Flip banner / End -->





<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


<!-- Style Switcher
================================================== -->


<!-- Style Switcher / End -->
