<%= render 'devise/shared/login_register' do %>
	<!-- Login -->
	<div class="tab-content" id="tab1" style="display: none;">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

			<p class="form-row form-row-wide">
				<label for="username">Email Address:
					<i class="im im-icon-Male"></i>
					<%= f.email_field :email, autofocus: true, class: "input-text" %>
				</label>
			</p>

			<p class="form-row form-row-wide">
				<label for="password">Password:
					<i class="im im-icon-Lock-2"></i>
					<%= f.password_field :password, autocomplete: "off", class: "input-text" %>
				</label>
			</p>

			<p class="form-row">
				<%= f.submit "Log in", class: "button border margin-top-10" %>
				<% if devise_mapping.rememberable? %>
					<label for="rememberme" class="rememberme">
					<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
				<% end %>
			</p>

			<p class="lost_password">
				<a href="#" >Lost Your Password?</a>
			</p>

		<% end %>
	</div>
<% end %>
