<%= form_with(model: classified_listing, local: true) do |form| %>
  <% if classified_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classified_listing.errors.count, "error") %> prohibited this classified_listing from being saved:</h2>

      <ul>
      <% classified_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :categories do |category_form| %>
    <%= render 'category_fields', f: category_form %>
  <% end %>

  <div class="add-category">
    <%= link_to_add_association 'Add New Category', form, :categories %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :classified_listing_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :classified_listing_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
