<p id="notice"><%= notice %></p>

<h1>Classified Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classified_listings.each do |classified_listing| %>
      <tr>
        <td><%= classified_listing.title %></td>
        <td><%= classified_listing.description %></td>
        <td><%= link_to 'Show', classified_listing %></td>
        <td><%= link_to 'Edit', edit_classified_listing_path(classified_listing) %></td>
        <td><%= link_to 'Destroy', classified_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classified Listing', new_classified_listing_path %>
