<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @classified_listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classified_listing.description %>
</p>

<p>
  <% @classified_listing.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</p>

<%= link_to 'Edit', edit_classified_listing_path(@classified_listing) %> |
<%= link_to 'Back', classified_listings_path %>
