<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Agent Dashboard</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li>
						  <%= link_to "Dashboard", dashboard_path %>
						</li>
						<li>Agent</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<div class="container">
  <div class="row">

    <!-- Sidebar  -->
    <div class="col-md-4">
      <div class="sidebar left">

      	<div class="my-account-nav-container">
      		<ul class="my-account-nav">
      			<li class="sub-nav-title">Manage Properties</li>
      			<li>
              <%= link_to new_property_path do %>
                <i class="sl sl-icon-action-redo"></i> List Property
              <% end %>
            </li>
      			<li>
              <%= link_to my_properties_path do %>
                <i class="im im-icon-Home-5"></i> My Properties
               <% end %>
            </li>
      			<li>
              <%= link_to agents_path do %>
                <i class="im im-icon-Home-5"></i> All Properties
               <% end %>
            </li>
      		</ul>
      		<ul class="my-account-nav">
      			<li class="sub-nav-title">Manage Projects</li>
      			<li>
              <%= link_to new_property_path do %>
                <i class="sl sl-icon-action-redo"></i> Create Project
              <% end %>
            </li>
      		</ul>
          
        </div>

      </div>
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>
  </div>
</div>
